[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-extensions = "*"
"django-bootstrap4" = "*"
django-allauth = "*"
django-debug-toolbar = "*"
python-decouple = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
drf-yasg = "*"

[dev-packages]
pytest-django = "*"
model-bakery = "*"
pytest-sugar = "*"
pytest = "*"
coverage = "*"
importlib-metadata = "*"

[requires]
python_version = "3.6"
